@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
    text-align: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: #0B0D17;
    color: white;
    padding: 0 20px;
}

.Destination{
    background-image: url("../assets/destination/background-destination-mobile.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: 0;
    transform: rotate(0deg);
    overflow-x: hidden;
}

.Destination h4{
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #D0D6F9;
    margin-bottom: 40px;
}

.desktop-right-content{
    height: 20vh;
}

.desktop-left-content{
    height: 45vh;
}

.page-index{
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 2.5px;
    color: #D0D6F9;
    margin-right: 10px;
    margin-bottom: 40px;
    opacity: 0.5;
}

.Destination-image img{
    margin: 0 auto;
    width: 250px;
}

.Destination-links{
    margin-top: 25px;
}
.Destination-links span{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1em;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    margin: 0 10px;
    text-transform: uppercase;
}
.Destination-links span:hover, 
.Destination-links span.active{
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    color: white;
}
.Destination-links span:hover{
    opacity: 0.5;
}



.Destination-pick-container h1{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 64px;
    margin: 25px auto 15px;
}

.Destination-pick-container p{
    font-family: 'Barlow' , sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 28px;
    color: #D0D6F9;
    width: 70%;
    margin: 0 auto;
}

.Destination-line{
    border: 0.5px solid #FFFFFF;
    opacity: 0.15;
    display: flex;
    margin: 25px 30px;
}

.Destination-pick-container h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    text-transform: uppercase;
    margin: 15px 0;
}

.Destination-pick-container span{
    font-family: 'Bellefair';
    font-weight: 400;
    font-size: 1.5em;
    text-transform: uppercase;
}

.lower-content{
    margin: 30px;
    padding-bottom: 30px;
}





/* --------------- Media Queries --------------- */

@media (min-width: 600px) {

    .Destination{
        background-image: url("../assets/destination/background-destination-tablet.jpg");
        background-size: 100% 100vh;
        z-index: 0;
    }

    .desktop-right-content{
        height: 35vh;
    }
    
    .desktop-left-content{
        height: 40vh;
    }

    .Destination h4, .page-index{
        text-align: left;
        margin-top: 35px;
        margin-left: 20px;
        font-size: 1.2em;
    }

    .Destination-links{
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .Destination-links span{
        font-size: 1.2em;
        margin: 0 20px;
    }

    .Destination-pick-container h1{
        font-size: 56px;
        margin: 10px auto 15px;
    }
    
    .Destination-pick-container p{
        font-size: 1em;
        width: 85%;
    }

    .Destination-pick-container h5{
        font-size: 1.2em;
    }

    .Destination-pick-container span{
        font-size: 2em;
    }

    .Destination-image img{
        width: 300px;
    }

    .upper-content{
        margin-left: 50px;
        margin-right: 50px;
    }

    .lower-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 35px;
    }
}

@media (min-width: 1200px) {
    
    .Destination{
        background-image: url("../assets/destination/background-destination-desktop.jpg");
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    .Destination h4, .page-index{
        text-align: center;
        margin-left: 0;
        margin-bottom: 40px;
    }

    .Destination h4{
        margin-right: 80px;
    }
  

    .Destination-image img{
        width: 450px;
    }

    .desktop-right-content, .desktop-left-content{
        height: unset;
    }

    .desktop-left-content{
        margin-top: 100px;
    }

    .desktop-left-content, .desktop-right-content{
        width: 50vw;
        align-self: center;
    }

    .Destination-links{
        display: flex;
        justify-content: flex-start;
        margin-top: 150px;
    }

    .Destination-pick-container h1{
        margin-top: 50px;
        margin-left: 30px;
    }
    
    .Destination-pick-container p{
        width: 90%;
        padding: 10px 50px 20px 0;
        line-height: 32px;
    }

    .upper-content{
        margin-left: 0;
        margin-right: 120px;
    }

    .lower-content{
        justify-content: flex-start;
        gap: 55px;
        padding-bottom: 0px;
    }

    .distance, .time, h5{
        text-align: left;
    }
}