@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
    text-align: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: #0B0D17;
    color: white;
    padding: 0 20px;
}

.Technology{
    background-image: url("../assets/technology/background-technology-mobile.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: 0;
    transform: rotate(0deg);
    overflow-x: hidden;
}

.Technology-img{
    min-height: 30vh;
    max-height: 30vh;
    width: 100%;
    margin-bottom: 10px;
}

.Technology h4{
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #D0D6F9;
    margin-top: 100px;
    margin-bottom: 30px;
}

.page-index{
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 2.5px;
    color: #D0D6F9;
    margin-right: 10px;
    margin-bottom: 40px;
    opacity: 0.5;
}

.Technology-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.Technology-links span:hover{
    border: 1px solid #FFFFFF;
}
.Technology-links span.active{
    background-color: white;
    color: #0B0D17;
    opacity: 1;
}
.Technology-links span{
    border-radius: 50%;
    background-color: transparent;
    width: fit-content;
    padding: 4px 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    border: 1px solid #757474;
    margin: 10px 0;
    cursor: pointer;
}

.Technology-container{
    padding-bottom: 40px;
}

.Technology-container h3{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
}

.Technology-container h1{
    font-weight: 400;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
    font-size: 28px;
    line-height: 46px;
}

.Technology-container p{
    font-family: 'Barlow' , sans-serif;
    font-weight: 400;
    font-size: 0.95em;
    line-height: 28px;
    color: #D0D6F9;
    width: 75%;
    margin: 0 auto;
}

.desktop-tech-content{
    height: 70vh;
}






/* --------------- Media Queries --------------- */

@media (min-width: 600px) {

    .Technology{
        background-image: url("../assets/technology/background-technology-tablet.jpg");
        background-size: 100% 100vh;
        z-index: 0;
    }

    .Technology h4, .page-index{
        text-align: left;
        margin-top: 60px;
        margin-bottom: 25px;
        margin-left: 20px;
        font-size: 1.2em;
    }

    .Technology-links span{
        padding: 10px 20px;
        font-size: 30px;
    }

    .Technology-container h3{
        font-size: 1.5em;
        margin: 30px 0 10px 0;
    }
    
    .Technology-container h1{
        margin: 20px 0 15px 0;
        font-size: 35px;
    }
    
    .Technology-container p{
        font-size: 1.1em;
    }
}

@media (min-width: 1200px) {

    .Technology{
        background-image: url("../assets/technology/background-technology-desktop.jpg");
    }

    .page-index{
        margin-left: 50px;
    }

    .desktop-tech-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 50vh;
    }

    .Technology-img-container{
        display: flex;
        justify-content: flex-end;
        width: 30vw;
        order: 3;
    }

    .Technology-img{
        width: 100%;
        max-height: 55vh;
    }

    .Technology-links{
        width: 8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        order: 1;
    }

    .Technology-container{
        width: 52vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        order: 2;
    }

    .Technology-container p{
        width: 100%;
        margin: 0 auto;
    }
}